@{
  Layout = "_Layout";
}

<h1>Welcome to the Animal Shelter</h1>
<h3>@Html.ActionLink("Check out our types of animals!", "Index", "Types")</h3>
<h3>@Html.ActionLink("Check out our animals!", "Index", "Animals")</h3>